html,
body {
  margin: 0;
  background-color: #1e1f26;
  text-align: center;  
  font-family: 'Montserrat', sans-serif;;
}

.w {
  overflow: hidden;
}

section {
  margin: -1%;
  padding: 20px;
}

section div {
  background: #000;
  float: left;
  height: 24vw;
  margin: 1%;
  width: 23%;
  
}

.oneCol {
    background-color: #851e3e;
}

.twoCol {
    background-color: #251e3e;
}

.threeCol {
    background-color: #851e3e;
}

.oneCol:hover {
    background-color: #d54471;
}

.twoCol:hover {
    background-color: #7a69b7;
}

.threeCol:hover {
    background-color: #d54471;
}

h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00f260, #0575e6); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 8vw;
}